{% load static %}
{% load trip_tags %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link type="text/css" href="{% static 'trip/css/style.css' %}" rel="stylesheet" />

</head>
<body>
<!-- partial:index.partial.html -->
<header class="header">
  <div class="container">
    <div class="menu">
      <a href="{% url 'home' %}" class="logo">
      <img src="{% static 'trip/images/noemi-logo.svg' %}" class="header-logo" alt="header-logo">
      </a>
      {% include 'trip/includes/main-menu.html'%}
    </div>
    <h1 class="header-title">Путешествие начинается здесь ...</h1>
  </div>
</header>
{% block content%}
{% endblock%}
 <aside class="aside">
    <div class="new__posts">
      <header class="header__aside">новые посты</header>
      <div class="posts">
            <img class="img_post__aside" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg" alt="sunrise on a beach">
            <article class="article_post">
              <time class="time">14 июня 2019</time>
              <a class="title-link-aside" href="#0">10 мест, ради которых стоит проснуться на рассвете</a>
            </article>
      </div>
      <div class="posts">
            <img class="img_post__aside" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg" alt="yoga on a beach">
            <article class="article_post">
              <time class="time">10 июня 2019</time>
              <a class="title-link-aside" href="#0">Йога для домашних</a>
            </article>
      </div>
      <div class="posts">
            <img class="img_post__aside" src="https://netology-code.github.io/html-2-diploma/sources/images/45.jpg" alt="place of balcony">
            <article class="article_post">
              <time class="time">14 июня 2019</time>
              <a class="title-link-aside" href="#0">Мы превратили классное место в балкон</a>
            </article>
      </div>
      <div class="posts">
            <img class="img_post__aside" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="food on the table">
            <article class="article_post">
              <time class="time">14 июня 2019</time>
              <a class="title-link-aside" href="#0">Кулинарный подход к науке</a>
            </article>
      </div>
      <div class="posts">
              <img class="img_post__aside" src="https://netology-code.github.io/html-2-diploma/sources/images/7.jpg" alt="hair of woman">
              <article class="article_post">
              <time class="time">14 июня 2019</time>
              <a class="title-link-aside" href="#0">Лучшие прически для распущенных волос</a>
            </article>
      </div>
     </div>
    <div class="find">
      <input type="search" class="field" placeholder="Найти..." required>
      <button type="submit" class="button_search"></button>
    </div>
    <div class="mailing">
      <header class="header__aside">Рассылка</header>
      <form class="form">
        <input type="email" class="field-email" placeholder="Ваш email-адрес" required></intup>
      <button type="submit" class="button_email">Подписаться</button>
      </form>
    </div>
    <div class="tags">
      <header class="header__aside">Теги</header>
      <div class="tags_block">
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">fashion</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">music</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">lifestyle</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">art</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">interior</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">travel</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">food</a>
        </div>
        <div class="tags_block_name">
          <a href="#0" class="tags_block_link">health</a>
        </div>
       </div>
      </div>
    <div class="topics">
      <header class="header__aside">Темы</header>
        <ul>
            {% show_topics topic_selected %}
        </ul>
    </div>
    </div>
  </asdie>
</div>
  <footer class="footer">
    <div class="footer-logo">
     <a href="0#"><img class="logo_social" src="https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg" alt="иконка dribbble"></a>
     <a href="0#"><img class="logo_social" src="https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg" alt="иконка pinterest"></a>
     <a href="0#"><img class="logo_social" src="https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg" alt="иконка tumblr"></a>
    </div>
    <div class="copyright">Copyright © 2009–2019 City Blog LLC.</div>
  </footer>
<!-- partial -->

</body>
</html>
