{% extends 'base.html' %}
 
{% block content %}
<main class="main">
<h1>Авторизация</h1>
<br>
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
        <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    <br>
    {% endfor %}
    <p ><button type="submit">Войти</button></p>
</form>
    <p ><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
<hr>
<p>
    <a class="poster-mini" href="{% url 'social:begin' 'github' %}"><img src="/media/social-auth/github.png"></a>
    <a class="poster-mini" href="{% url 'social:begin' 'vk-oauth2' %}"><img src="/media/social-auth/vk.png"></a>
</p>
</main>
{% endblock %}