{% extends 'base_new.html' %}
 
{% block content %}

<div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-6">
<h1>Восстановление пароля</h1>
 
<form method="post">
    {% csrf_token %}
    {% for f in form %}
    <div class="mb-3">
        <p><label for="inputUsername" class="form-label visually">{{f.label}}:</label> {{ f }}</p>
    </div>
    <div class="alert-danger">{{ f.errors }}</div>
    {% endfor %}
 
    <p ><button type="submit" class="btn btn-primary">Сбросить по E-mail</button></p>
</form>
</div>
</div>
                </div>
            </div>
</div>

{% endblock %}