{% extends 'base_new.html' %}
 
{% block content %}
<div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-6">
<h1>Изменение пароля</h1>
 
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p ><label class="md-form mb-0" for="{{ f.id_for_label }}">{{f.label}}: </label> {{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    <br>
    {% endfor %}
 
    <p ><button type="submit" class="btn btn-primary">Изменить пароль</button></p>
</form>
</div>
</div>
                </div>
            </div>
</div>
{% endblock %}