{% extends 'base_new.html' %}

{% block content %}

<section class="my-registration-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <h1>{{title}}</h1>
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-error">{{ form.non_field_errors }}</div>
                                {% for f in form %}
                                <div class="md-form mb-0">
                                <label class="form-label" for='{{ f.id_for_label }}'>{{ f.label }}</label>{{ f }}
                                </div>
                                <div class="form-error">{{ f.errors }}</div>
                                <br>
                                {% endfor %}
                                <p><button type="submit" class="btn btn-primary">Добавить</button> Статья будет добавлена после прохождения проверки!</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
