{% extends 'base.html' %}
 
{% block content %}

<div class="main-content">
  <main class="main">
      <div class="card">
          {% if post.image %}
        <img class="poster" src="{{post.image.url}}" alt="nice picture">
          {% endif %}
        <article class="article">
            <div class="tag">
              <ul class="tag-list">
                <li class="tag-list-item">
                  <a class="tag-link" href="#0">helth</a>
                </li>
              </ul>
            </div>
            <h1 class="article-title">
                {{post.title}}
            </h1>
            <time class="time">{{post.time}}</time>
            <span class="autor">{{post.author}}</span>
            <p class="discription">{% autoescape off %}
                                    {{post.content|linebreaks|truncatewords:50}}
                                    {% endautoescape %}</p>
        </article>
      </div>
  </main>

{% endblock %}