 <div class="topics">
      <header class="header__aside">Темы</header>
        <ul>
            {% for topic in topics %}
            <div class="topics_block_name">
                     {% if topic.id == topic_selected %}
                             <li class="topic_block_link selected">{{topic.name}}
                                 <a class="topic_block_link_number" href="{{ topic.get_absolute_url }}">{{topic.posts.all.count}}</a>
                             </li>
                     {% else %}
                             <li class="topic_block_link">
                                 <a class="topic_block_link" href="{{ topic.get_absolute_url }}">{{topic.name}}</a>
                                 <a class="topic_block_link_number" href="{{ topic.get_absolute_url }}">{{topic.posts.all.count}}</a>
                             </li>
                     {% endif %}
            </div>
            {% endfor %}
        </ul>
 </div>