{% load static %}
<section class="my-carousel">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-color: #343a40!important">
            <div class="carousel-caption d-none d-md-block">
                              <script async src="https://tp.media/content?trs=383037&shmarker=601099&locale=ru&powered_by=true&border_radius=5&color_background=%23ffffff&color_border=%23fed42b&color_button=%23fed42b&promo_id=7339&campaign_id=193" charset="utf-8"></script>
                <h1>
<!--                  {% if post.title %}-->
<!--                    {{ post.title }}-->
<!--                  {% else %}-->
<!--                    {{ title }}-->
<!--                  {% endif %}-->
                </h1>
            </div>
        </div>
    </div>
  </div>
</section>